{% extends  "_base.html" %}
{% load blog_extras %}

{% block content %}
  <div class="container-xxl px-5">
    <h2 class="display-4">Blog Posts</h2>
    {% for post in posts %}
      <row class="row">
        <div class="col">
          <h3>{{ post.title }}</h3>
          <small>By {{ post.author| author_details:request.user }} on {{ post.published_at | date:"j, M, y"}}</small>
          <p>{{ post.summary }}</p>
          <p>
            ({{ post.content | wordcount }} words )
            <a class="link link-info" href="#">Read More</a>
          </p>
        </div>
      </row>
    {% endfor %}
  </div>
  
{% endblock content %}